<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add Account </title>
    <script defer src = "../static/scripts/add_user.js"></script>
</head>
<body>
<header><h1> Add Account </h1></header>

<main>
    {% if message %}
            {{ message|safe }}
    {% endif %}

    <form method = post action = "/addUser" id = "add_user_form">
        <div><label for = "account_name"> Account Name: <input required type = text name = account_name id = account_name></label></div>
        <div><label for = "passwordOne"> Password: <input required type = password name = passwordOne id = passwordOne></label></div>
        <div><label for = "passwordTwo"> Re-enter Password: <input required type = password name = passwordTwo id = passwordTwo></label></div>
        <div>
            <label for = roles> Select Account Roles: <select id = roles name = roles>
                {% for role in roles %}
                    <option value = "{{ role }}" id = "{{ role }}"> {{ role }} </option>
                {% endfor %}
            </select></label>
            <div><button id = "btn_add_role"> Add Role </button></div>
        </div>

        <ul id = "role_list"></ul>
        <div><input type = submit value = "Add Account" id = "btn_add_account"></div>
    </form>
</main>

<footer> By Kyle Galway </footer>
</body>
</html>
