{% extends "base_template.html" %}

{% block title %} Industrious Industries Job Applications {% endblock %}

{% block main %}
<main class = "flex-parent gap-small column start wide">
    {% if applications|length > 0 %}
    <h3> All applications </h3>
    <table class = "table">
        <tr class = "table-header">
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Start Date </th>
            <th> Occupation </th>
            <th> Accept Application </th>
        </tr>
        {% for application in applications %}
        <tr>
            <td> {{ application[1] }} </td>
            <td> {{ application[2] }} </td>
            <td> {{ application[3] }} </td>
            <td> {{ application[4] }} </td>
            <td> {{ application[5].title() }} </td>
            {% if application[6] %}

            <td class = "font-middle text-center"> Application Accepted </td>

            {% else %}

            <td><a href = "/acceptApplication/{{ application[0] }}"><button class = "link link-middle"> Accept Application </button></a></td>

            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2> No Applications to Display! </h2>
    {% endif %}
    <nav>
        <div><a href = "/"><button class = "link link-large margin-top"> Return to Index </button></a></div>
    </nav>
    {% if account and 'username' in account %}

        <p class = "user-message child-end"> Logged in as {{ account['username'] }} </p>

    {% endif %}
</main>
{% endblock %}