<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = stylesheet type = text/css href = "../static/styles/styles.css">
    {% block script %} {% endblock %}
    <title> {% block title %}{% endblock %} </title>
</head>
<body class = "flex-parent column space-between">
<header class = "flex-parent row space-between wide">
    <h1 class = "flex-child font-large"> Industrious Industries </h1>

    <div class = "flex-child">
    {% if account %}

        <a href = "/signOut"><button class = "link link-small"> Sign Out </button></a>

    {% else %}

        <a href = "/signIn"><button class = "link link-small"> Sign In </button></a>

    {% endif %}
    </div>
</header>

{% block main %}
{% endblock %}

<footer class = "flex-parent column center wide font-middle"><p> By Kyle Galway </p></footer>
</body>
</html>

