<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Industrious Industries Job Application Site </title>
</head>
<body>
<header><h1> Welcome to the Industrious Industries Job Application Site </h1></header>

<main>
    <div><a href = "/submitApplication"><button> Submit a Job Application </button></a></div>
    <div><a href = "/viewApplications"><button>View Job Applications</button></a></div>
    <div><a href = "/addUser"><button> Add User </button></a></div>
    <div><a href = "/signIn"><button> Sign In </button></a></div>
</main>

<footer> By Kyle Galway </footer>
</body>
</html>