{% extends "base_template.html" %}

{% block title %} Industrious Industries Job Applications - Apply {% endblock %}

{% block main %}
<main class = "flex-parent gap-small column start wide">
    {% if message %}
        {{ message|safe }}
    {% endif %}

    <h2> Please enter job credentials below </h2>
    <div class = "flex-parent gap-small column start wide">
        <form method = post action = "/submitApplication" class = "flex-parent gap-small column start wide">
            <div id = "personal_information" class = "flex-parent gap-small column start wide">
                <h3> Personal Information </h3>
                <div class = "flex-parent row space-between form-middle">
                    <label for = first_name class = "text-left font-middle"> First Name: </label>
                    <input type = text class = "input input-middle font-middle" id = first_name name = first_name required>
                </div>

                <div class = "flex-parent row space-between form-middle">
                    <label for = last_name class = "text-left font-middle"> Last Name: </label>
                    <input class = "input input-middle font-middle" type = text id = last_name name = last_name required>
                </div>

                <div class = "flex-parent row space-between form-middle">
                    <label for = email class = "text-left font-middle"> Email: </label>
                    <input class = "input input-middle font-middle" type = email id = email name = email required>
                </div>

                <div class = "flex-parent row space-between form-middle">
                    <label for = start_date class = "text-left font-middle"> Date: </label>
                    <input class = "input input-middle font-middle" type = date id = start_date name = start_date required>
                </div>
            </div>

                <h3> Current Occupation </h3>
                <div><label for = employed> Employed <input type = radio value = "employed" id = employed name = current_occupation required></label></div>

                <div><label for = unemployed> Unemployed <input type = radio value = "unemployed" id = unemployed name = current_occupation required></label></div>

                <div><label for = self-employed> Self-employed <input type = radio value = "self-employed" id = self-employed name = current_occupation required></label></div>


            <div>
                <input type = submit value = "Submit Application" class = "link link-large margin-top">
            </div>
        </form>

        <nav>
            <div><a href = "/"><button class = "link link-large"> Return to Index </button></a></div>
        </nav>
    </div>
    {% if account and 'username' in account %}

        <p class = "user-message child-end"> Logged in as {{ account['username'] }} </p>

    {% endif %}
</main>
{% endblock %}