<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = stylesheet type = text/css href = "../static/styles/styles.css">
    <title> Industrious Industries Job Applications - Submit </title>
</head>
<body class = "flex-parent column space-between">
<header class = "flex-parent row space-between wide">
    <h1 class = "flex-child font-large"> Industrious Industries </h1>

    <div class = "flex-child">
    {% if account %}

        <a href = "/signOut"><button class = "link link-small"> Sign Out </button></a>

    {% else %}

        <a href = "/signIn"><button class = "link link-small"> Sign In </button></a>

    {% endif %}
    </div>
</header>

<main>
    {% if message %}
        {{ message }}
    {% endif %}

    <form method = post action = "/submitApplication">
        <h2> Please enter your job credentials here! </h2>

        <div>First Name:
            <label for = first_name><input type = text class = "form-control" id = first_name name = first_name required></label>
        </div>

        <div> Last Name:
            <label for = last_name><input class = "form-control" type = text id = last_name name = last_name required></label>
        </div>

        <div> Email:
            <label for = email><input class = "form-control" type = email id = email name = email required></label>
        </div>

        <div> Date:
            <label for = start_date><input class = "form-control" type = date id = start_date name = start_date required></label>
        </div>

        <div id = "current_occupation">
            <label for = "current_occupation"> Current Occupation </label>
            <div><label for = employed>Employed <input type = radio value = "employed" id = employed name = current_occupation required></label></div>

            <div><label for = unemployed>Unemployed <input type = radio value = "unemployed" id = unemployed name = current_occupation required></label></div>

            <div><label for = self-employed>Self-employed <input type = radio value = "self-employed" id = self-employed name = current_occupation required></label></div>
        </div>

        <div>
            <input type = submit value = "Submit Application">
        </div>
    </form>
    {% if account and 'username' in account %}

        <p class = user-message> Logged in as {{ account['username'] }} </p>

    {% endif %}
    <nav>
        <div><a href = "/"><button> Return to Index </button></a></div>
    </nav>
</main>

<footer class = "flex-parent column center wide font-middle"><p> By Kyle Galway </p></footer>

</body>
</html>