body
{
    font-family: verdana;
    font-weight: 300;
    margin: 0px;
}

h1, h2, h3
{
    font-weight: 200;
}

header, footer
{
    min-height: 10vh;
    line-height: 1.5;
    font-size: 16px;
    background-color: #0074bb;
    color: #ffffff;
}

header
{
    border-bottom: #001522 3px solid;
}

footer
{
    border-top: #001522 3px solid;
}

main
{
    min-height: 79vh;
    background-color: #eef9ff;
}

.font-large
{
    font-size: 25px;
}

.font-middle
{
    font-size: 18px;
}

.font-small
{
    font-size: 16px;
}

.form-wide
{
    width: 30vw;
}

.form-middle
{
    width: 20vw;
}

.input
{
    height: 3vh;
    border-radius: 7px;
}

.input-wide
{
    width: 40vh;
}

.input-narrow
{
    width: 20vh;
}

.input-middle
{
    width: 25vh;
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.wide
{
    width: 100%;
}

.flex-parent
{
    display: flex;
}

.flex-child
{
    margin: 3vh 15vh;
}

.gap-small
{
    gap: 1vh;
}

.column
{
    flex-direction: column;
}

.row
{
    flex-direction: row;
}

.space-between
{
    justify-content: space-between;
    align-items: center;
}

.space-evenly
{
    justify-content: space-evenly;
    align-items: center;
}

.start
{
    justify-content: start;
    align-items: center;
}

.center
{
    justify-content: center;
    align-items: center;
}

.child-end
{
    margin-top: auto;
    margin-bottom: 5vh;
}

.link
{
    height: 5vh;
    font-size: 16px;
    border: ##001522 2px solid;
    border-radius: 15px;
    background-color: #0074bb;
    color: #ffffff;
}

.link:hover
{
    cursor: pointer;
    background-color: #eef9ff;
    color: #001522;
}

.link-large
{
    width: 25vh;
}

.link-middle
{
    width: 20vh;
}

.link-small
{
    width: 15vh;
    background-color: #eef9ff !important;
    color: #001522 !important;
}

.link-small:hover
{
    background-color: #0074bb !important;
    color: #ffffff !important;
    border-color: #eef9ff !important;
}

.bordered
{
    border: thin black solid;
}

.margin-top
{
    margin-top: 3vh;
}

.table
{
    border-radius: 8px;
    border-collapse: collapse;
}

th, td
{
    border: 2px black solid;
    border-radius: 9px;
    padding: 1vh;
}

@media (max-width: 800px)
{
    #header-button
    {
        display: none;
    }

    header
    {
        justify-content: center !important;
    }
}

